/*10 points */
.green-text {
    color:green;
}

/* 1 point */
h1 {
    color:red;
}

/ * 100 points */
#width-300 {
    width: 300px;
}

.border-blue{
    border: 1px solid blue;
    width: 300px;
}

/*Assignment styles */
h1{
    color: aqua
}

.profile picture {
    width: 300px;
}

/* End Assignment styles */